<template>
  <div>
    <vuetable ref="vuetable"
      api-url="http://localhost:8020/jmcim-webapp/public/member/paginate"
      :fields="fields"
      :sort-order="sortOrder"
      data-path="data"
      pagination-path=""
      :per-page="2"
      @vuetable:pagination-data="onPaginationData"
    >
      <div slot="actions" slot-scope="props">
				<button 
					class="ui small button" 
					@click="onActionClicked('view-item', props.rowData)"
				>
					<i class="zoom icon"></i>
				</button>
				<button 
					class="ui small button" 
					@click="onActionClicked('edit-item', props.rowData)"
				>
					<i class="edit icon"></i>
				</button>
				<button 
					class="ui small button" 
					@click="onActionClicked('delete-item', props.rowData)"
				>
					<i class="delete icon"></i>
				</button>
        <button
          class="btn"
          @click="show(false, false, false)">Show Modal
        </button>
			</div>
    </vuetable>

    <div class="pagination ui basic segment grid">
      <vuetable-pagination-info ref="paginationInfo"
      ></vuetable-pagination-info>
      
      <vuetable-pagination ref="pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
  </div>
</template>

<script>
import Vuetable from "vuetable-2/src/components/Vuetable";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo";
import FieldsDef from "./components/MemberFields.js";

export default {
  name: "MembersVuetable",
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo
  },
  data() {
    return {
      fields: FieldsDef,
      sortOrder: [
        {
          field: "name",
          direction: "asc"
        }
      ]
    };
  },
  mounted() {
    
  },
  methods: {
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
      this.$refs.paginationInfo.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    onActionClicked(action, data) {
      console.log("slot actions: on-click", data.name);
    }
  }
};
</script>

<style>
.pagination {
  margin-top: 1rem;
}

.vuetable-head-wrapper table.vuetable th.sortable {
  cursor: pointer
}
</style>
